@model IEnumerable<BaiTapLon.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="w3-center w3-text-blue" style=" font-family: Times New Roman; font-size:50px ">Đơn hàng</h2>
@Styles.Render("~/Content/css")

<p>
    @Html.ActionLink("Tạo Mới Dữ Liệu", "Create")
</p>
<table class="w3-table-all w3-hoverable " style="font-family: Times New Roman; font-size:20px">
    <tr class="w3-blue-grey">
        <th>
            <label>Mã khách hàng</label>
        </th>
        <th>
            <label>Ngày tạo</label>
        </th>
        <th>
            <label>Mã nhân viên</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DonHangID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DonHangID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DonHangID })
            </td>
        </tr>
    }

</table>
